test-sql-accumulators/*.class
iobitset/*.class
iobitset/me/
do-not-commit/
*.kch
target/
IGNORE_THIS_GITIGNORE_Gemfile.lock
*.xml~
dist
jboss.identity
.DS_Store
build
accumulator_storages/KyotoCabinetAllocationStorage/nbproject/private/
accumulator_storages/KyotoCabinetAllocationStorage/nbproject/private/private.properties
ShishitoCore/nbproject/private/config.properties
/ShishitoCore/nbproject/private/private.properties
Stage2/nbproject/private/config.properties
/Stage2/nbproject/private/private.properties
/Adserver/nbproject/private
/Stage1/nbproject/private
/BrandSafety/nbproject/private/
/ShishitoCore/nbproject/private/
/Stage1/nbproject/private/*
/Stage2/nbproject/private/
/Remoting/nbproject/private/
/CassandraStage2/nbproject/private/
/AccumulatorServer/nbproject/private/
/AdServer/nbproject/private/
/ContextWebIntegration/nbproject/private/
/ShishitoConfig/nbproject/private/
/Config/nbproject/private/
/exchange_integrations/AdiquityIntegration/nbproject/private/
/exchange_integrations/CasaleXIntegration/nbproject/private/
/exchange_integrations/ContextWebIntegration/nbproject/private/
/exchange_integrations/NexageIntegration/nbproject/private/
/exchange_integrations/OpenRTBMobileBase/nbproject/private/
/exchange_integrations/OpenXIntegration/nbproject/private/
/exchange_integrations/SimulatorIntegration/nbproject/private/
/Testing/nbproject/private/
/Sharding/nbproject/private/
/Common/nbproject/private/
/Segmentation/nbproject/private/
/Stage1/nbproject/private/private.properties
/BrandSafety/nbproject/private/config.properties
/BrandSafety/nbproject/private/private.properties
/AccumulatorServer/accstore.kch
/Stage2/accstore.kch.wal
/Stage2/accstore.kch
/AccumulatorServer/accstore.kch.wal
/Accumulator2/nbproject/private/
/Accumulator3/nbproject/private/
/AccumulatorLocalGlobalStorageStrategy/nbproject/private/
/AccumulatorSupport/nbproject/private/
/accumulator_storages/KyotoCabinetAccumulatorStorage/nbproject/private/
/Accumulator/nbproject/private/
/exchange_integrations/ExchangeIntegrationUtils/nbproject/private/
/exchange_integrations/AppNexusIntegration/nbproject/private/
/accumulator_storages/KyotoCabinetAllocationStorage/nbproject/private/
/accumulator_storages/CassandraAccumulatorStorage/nbproject/private/
/AccumulatorGlobalOnlyStorageStrategy/nbproject/private/
/Attribute/nbproject/private/
/exchange_integrations/GeolocationCompiler/nbproject/private/
/exchange_integrations/PubMaticIntegration/nbproject/private/
/exchange_integrations/AdMeldIntegration/nbproject/private/
/PricingOptimization/nbproject/private/
/Common/target/
/Segmentation/target/
/Accumulator/target/
/Attribute/target/
/ShishitoCore/target/
/accumulator_storages/CassandraAccumulatorStorage/target/
/exchange_integrations/ExchangeIntegrationUtils/target/
/exchange_integrations/ContextWebIntegration/target/
/exchange_integrations/OpenXIntegration/target/
/Config/target/
/Stage1/target/
/exchange_integrations/GeolocationCompilerOld/nbproject/private/
/exchange_integrations/GeololocationCompiler/target/
/exchange_integrations/OpenRTBMobileBase/nbproject/
/exchange_integrations/AdiquityIntegration/nbproject/
/exchange_integrations/CasaleXIntegration/nbproject/
/exchange_integrations/PubMaticIntegration/nbproject/
/sentinel/Sentinel/test-output/
/sentinel/SentinelZK/test-output/
/JBossDeployer/test-output
/JBossDeployer/scripts
nbactions.xml
*.project
*.classpath
*.settings
**/.idea/*
*.iml
